.style-control-btn {
    outline: none;
    border: none;
    background: #ccc;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.style-submitBtn:active {
    background: #bbb;
}

.style-container {
    display: flex;
    flex-direction: column
}
